html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(234, 17%, 12%);
    margin: 0;
    
}
body .dots{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
/* title */
.title{
    color: white;
    margin-top: 200px;
    text-align: center;
}
/* clock */

#timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* presets */
#timer h1{
    margin: 0;
}
#timer h3{
    text-align: center;
    font-size: 0.75rem;
}
.clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0px 5px black;
}
.margin-r{
    margin-right: 5%;
}
.num-space{
    letter-spacing: 3px;
}
.clock .top{
    border-radius: 10px;
    background-color: hsla(236, 21%, 26%,0.7);
    z-index: 4;
    height: 42px;
    width: 140px;
    text-align: center;
}
.clock .bottum{
    width: 140px;
    border-radius: 10px;
    background-color: hsla(236, 21%, 26%,0.7);
    z-index: 4;
    height: 42px;
}
/* input */
.Input{
    text-align: center;
}
.Input h1{
    color: white;
}
.Input input{
    text-align: center;
}

.margin-r{
    margin-right: 10px;
}
/* footer */
footer img{
    position: relative;
    width: 100%;
}

/* presets */
.red{
    color: hsl(345, 95%, 68%);
    font-size: 4rem;
}
.gray-blu{
    color:hsl(237, 18%, 59%);
}
.letter-space{
    letter-spacing: 5px;
}


@media screen and (max-width: 660px) {
    .title{
        width: 90%;
        text-align: center;
        margin-top: 65px;
        margin-bottom: 10%;
        text-align: center;
    }
    #timer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer img{
        width: 100%;
    }

}
